<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thanks for your interest in having a tour!</h1>

    <p>Please continue here: <%= link_to tour_url(@tour), tour_url(@tour) %></p>
  </body>
</html>