<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>This Tour is good to go!</h1>

    <p>Click here to review your info: <%= link_to tour_url(@tour), tour_url(@tour) %></p>
  </body>
</html>